@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Redefine 'Syne' to point to Mona-Sans so existing classes immediately inherit the new font without needing to alter every file */
@font-face {
    font-family: 'Syne';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-BoldNarrow.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans-ExtraBoldNarrow.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}